@import "mixins";

.tz-top {
  &.type-11 {
    background: $bg-2a-60;
  }
}

.tz-header {
  &.header-type-11 {
    @include position(absolute, $top: 0, $left: 0, $right: 0);
    background: transparent;

    nav {
      ul {
        &.tz-nav {
          > li {
            > a {
              color: $write;
            }
          }
        }
      }
    }

    .tz-menu-header {
      @include position(absolute, $left: 0, $right: 0);
      @include transition();

      &.tz-headereff {
        @include position(fixed, $top: 0);
        background: $bg-2a-60;
      }
    }

    .tz-header-search {
      span {
        color: $write;
      }
    }

    .tz-header-cart {
      .shop-woo__your-cart {
        color: $write;
      }
    }
  }
}

.tzElement_Destination {
  &.type-7 {
    .destination-slider {
      overflow: inherit;

      .distination-item {
        height: 370px;

        .des-img {
          width: 100%;
          height: 100%;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .content {
          @include position(absolute, $left: 0, $right:0, $bottom: 0);
          .title {
            margin-left: 30px;
            font-size: 18px;
            text-transform: uppercase;

            a {
              color: $write;
              @include transition();

              &:hover {
                color: $main-color;
              }
            }
          }
        }
      }

      .owl-nav {
        @include position(absolute, $top: 50%, $left: 0, $right: 0);

        .owl-next,
        .owl-prev {
          width: 50px;
          height: 50px;
          text-align: center;
          color: $color999;
          @include boder-default(1px, solid, $colord8);
          display: inline-flex;
          @include justify(center);
          @include align(center);
          @include transition();

          &:hover {
            background: $main-color;
            color: $write;
            border-color:  $main-color;
          }
        }
        .owl-prev {
          @include position(absolute, $left: -90px);
        }
        .owl-next {
          @include position(absolute, $right: -90px);
        }
      }
    }
  }
  &.type-6 {
    .destination-slider {
      .owl-nav {
        pointer-events: auto;
      }
    }
  }
}
.content-tour_category {
  @include position(relative);
  overflow: hidden;
  @include margin($bottom: 30px);

  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  .tour_category-wrapper {
    @include position(absolute, 0, 0, 0, 0);
    z-index: 2;
  }

  .title {
    @include position(absolute, $left: 30px, $bottom: 0);
    @include Montserrat_bold(18px, 22px, 0);
    color: $write;
    text-transform: capitalize;
    z-index: 10;

    a {
      color: $write;
      text-decoration: none;
      @include transition();

      &:hover,
      &:active,
      &:focus {
        color: $main-color;
      }
    }
  }


  &::after {
    content: '';
    @include position(absolute, 0, 0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.2) 80%, rgba(0, 0, 0, 0.25) 100%);
  }
}

.full_url {
  @include position(absolute, 0, 0, 0, 0);
  z-index: 9;
}


@media screen and (max-width: 992px) {
  .tz-header {
    &.header-type-11 {
      .tz-header-cart {
        .shop-woo__your-cart {
          @include margin($right: 15px);
        }
      }
      .tz_icon_menu {
        i {
          color: $write;
        }
      }
      .nav-collapse {
        @include position(relative);
      }
      nav {
        ul {
          &.tz-nav {
            > li {
              > a {
                color: $color59;
              }
            }
          }
        }
      }
    }
  }
  .tzElement_Destination {
    &.type-7 {
      .destination-slider {
        .owl-nav {
          .owl-next,
          .owl-prev {
            width: 40px;
            height: 40px;
            background: $write;
          }
          .owl-next {
            right: 0;
          }
          .owl-prev {
            left: 0;
          }
        }
      }
    }
  }
}

@media screen and (max-device-width: 480px) {
  .tz-header {
    &.header-type-11 {
      .tz-header-cart {
        .shop-woo__your-cart {
          @include margin($right: 15px);
          @include padding-default(18px 0 18px 24px);
        }
      }
    }
  }
}